
.error {color: #FF0000;}
div {
    width:600px;
    height:500px;
    margin:100px auto;
    padding: 10px;
    border: 5px solid gray;
    align-items:center;
    justify-content: center;
    background: #f2f4f8;
    display:flex;

}
input:hover{
    border-color: red;
}
input:focus,input:active{
    border-color:#8B008B;
}
h2{
    align-items:center;
}